@model OBM_Project.Models.ViewModels.DemandaViewModel

<h4>Demanda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="text-danger"></div>
            <div class="form-group">
                <label for="Orcamento" class="control-label">Número do Orçamento</label>
                <select id="DmOrVinculo" asp-for="Demanda.OrcamentoId" asp-items="@(new SelectList(Model.Orcamento, "Id", "Id"))" class="form-control">
                    <option>selecione</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Nome" class="control-label">Nome do cliente</label>
                <input id="DmClienteNome" class="form-control" /> <button type ="button" class="btn btn-primary" onclick="BuscarCliente();">Validar Cliente</button>
            </div>
            <div class="form-group">
                <label for="Tipo de Servico" class="control-label"> Tipo de serviço</label>
                <input id="DmOrTipoServ"  class="form-control" />
            </div>
            <div class="form-group">
                <label forr="SubTipo Servico" class="control-label">SubTipo de serviço</label>
                <input id="DmOrSubTipoServ" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Necessidade" class="control-label">Necessidade do serviço</label>
                <input id="DmNecessidade" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Demanda.Valor" class="control-label"></label>
                <input id="DmOrValor" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Demanda.DataAbertura" class="control-label"></label>
                <input type="date" asp-for="Demanda.DataAbertura" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Demanda.DataTermino" class="control-label"></label>
                <input type="date" asp-for="Demanda.DataTermino" class="form-control" />

            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" onclick="Enviar();">Adicionar</button>
            </div>
        </form>
    </div>
</div>

<div hidden="hidden">
    <form id="Formulario" asp-action="AdicionarDemanda" asp-controller="PainelControle">
        <div class="text-danger"></div>
        <div class="form-group">
            <label for="Orcamento" class="control-label">Número do Orçamento</label>
            <select id="DmOrId" asp-for="Demanda.OrcamentoId" class="form-control">
                <option>selecione</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Nome" class="control-label">Nome do cliente</label>
            <input id="DmClienteId" asp-for="Demanda.ClienteId" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Demanda.Valor" class="control-label"></label>
            <input id="DmOrValorId" asp-for="Demanda.Valor" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Demanda.DataAbertura" class="control-label"></label>
            <input type="date" asp-for="Demanda.DataAbertura" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Demanda.DataTermino" class="control-label"></label>
            <input type="date" asp-for="Demanda.DataTermino" class="form-control" />

        </div>
        
    </form>
</div>

<div>
    <a asp-action="Index" asp-controller="PainelControle">Back to List</a>
</div>

<script type="text/javascript">
$(document).ready(function () {

    $('#DmOrVinculo').change(function () {

        var idDemanda = $('#DmOrVinculo').val();
            
                    if (idDemanda > 0) {
                        $('#DmOrValor').empty();
                        $('#DmOrTipoServ').empty();
                        $('#DmOrSubTipoServ').empty();
                        $('#DmNecessidade').empty();

                        $('#DmOrValorId').empty();
                        $('#DmOrTipoServId').empty();
                        $('#DmOrSubTipoServId').empty();
                        $('#DmNecessidadeId').empty();

                        $.post('@Url.Action("FindOrcamento", "Orcamento")', { idDemanda: idDemanda }, function (data) {
                            /*for (x in data) {
                                if (typeof data[x] != "object") {

                                } else {
                                    for (var y in data[x]) {
                                        alert(data[x][y])
                                    }
                                }

                            }*/
                           // alert(JSON.stringify(data));


                            $('#DmOrValor').val(data.valor);
                            $('#DmOrTipoServ').val(data.tipoServico.nome);
                            $('#DmOrSubTipoServ').val(data.subTipoServico.nome);
                            $('#DmNecessidade').val(data.necessidade.nome);

                            $('#DmOrId').val(data.id);
                            var teste = $('#DmOrId').val();
                            alert(teste);
                            alert(data.id);
                            $('#DmOrValorId').val(data.valor);
                            $('#DmOrTipoServId').val(data.tipoServicoId);
                            $('#DmOrSubTipoServId').val(data.subTipoServicoId);
                            $('#DmNecessidadeId').val(data.necessidadeId);
                                                        
                        });
                    }
        });

    });
    function Enviar() {
        document.getElementById('Formulario').submit();
    }

    function BuscarCliente() {

        var nomeCliente = $('#DmClienteNome').val();
        alert(nomeCliente);

        $.post('@Url.Action("FindCliente", "PainelControle")', { 'nomeCliente' : nomeCliente }, function (data) {

            if (data != null) {
                $('#DmClienteId').val(data.id);
                $('#DmClienteNome').val(data.nome);
                alert("Cliente cadastrado!");
            } else {
                alert("Cliente não encontrado!");
            }

        });
    }

</script>


@section A{ }
@section B{ }
@section C{ }
@section D{ }

@section F{ }
@section G{ }
@section H{ }

@section I{ }
