@model OBM_Project.Models.ViewModels.DemandaViewModel

<h4>Demanda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AdicionarDemanda">
            <div class="text-danger"></div>
            <div class="form-group">
                <label for="Orcamento" class="control-label">Número do Orçamento</label>
                <select id="DmOrId" asp-for="Demanda.OrcamentoId" asp-items="@(new SelectList(Model.Orcamento, "Id", "Id"))" class="form-control">
                    <option>selecione</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Nome" class="control-label">Nome do cliente</label>
                <input id="Demanda.Cliente.Nome" asp-for="Demanda.Cliente.Nome" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Demanda.Valor" class="control-label"></label>
                <input id="Demanda.Valor" asp-for="Demanda.Valor" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="Demanda.DataAbertura" class="control-label"></label>
                <input asp-for="Demanda.DataAbertura" class="form-control" />
                <span asp-validation-for="Demanda.DataAbertura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Demanda.DataTermino" class="control-label"></label>
                <input asp-for="Demanda.DataTermino" class="form-control" />

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="PainelControle">Back to List</a>
</div>

<script type="text/javascript">
$(document).ready(function () {

    $('#DmOrId').change(function () {

        var idDemanda = $('#DmOrId').val();
        console.log('Carregou demanda');
        alert(idDemanda);
        if (idDemanda > 0) {
                $('#Demanda.Cliente.Nome').empty();
                    $.post('@Url.Action("FindOrcamento", "Orcamento")', { 'idDemanda': idDemanda }, function (data) {
                        console.log('post');
                        for (x in data) {

                            if (data.length > 0) {
                                $('#Demanda.Valor').append('<input value="' + '">' + data[x].valor + '/>');
                                    console.log('Carregou!');

                            }
                        }
                    });
                        console.log('fim id>0');
            }
    });
});
</script>


@section A{ }
@section B{ }
@section C{ }
@section D{ }

@section F{ }
@section G{ }
@section H{ }

@section I{ }
