
@{
    ViewData["Title"] = "Painel de Controle";
    TempData.Keep("Usuario");
    var obj = TempData["Usuario"];

    if (obj == null)
    {
        <span>Você não tem acesso!</span>
    }
    else
    {

    }


}

@section A{ }
@section B
{
    <a asp-action="TipoServico" asp-controller="PainelControle" class="btn btn-default">Criar Tipo Servico</a>
    <br />
    <a asp-action="SubTipoServico" asp-controller="PainelControle" class="btn btn-default">Criar SubTipo Servico</a>
    <br />
    <a asp-action="Necessidade" asp-controller="PainelControle" class="btn btn-default">Criar Necessidade</a>
    <br />
    <a asp-action="Area" asp-controller="PainelControle" class="btn btn-default">Area</a>
    <br />
}

@section C{ }
@section D{ }

@section F{ }
@section G{ }
@section H{ }

@section I{ }

