@{
    ViewData["Title"] = "Painel de Controle";
}

@section A{ }
@section B
{
    <a asp-action="TipoServico" asp-controller="PainelControle" class="btn btn-default">Criar Tipo Servico</a>
    <a asp-action="SubTipoServico" asp-controller="PainelControle" class="btn btn-default">Criar SubTipo Servico</a>
    <a asp-action="Necessidade" asp-controller="PainelControle" class="btn btn-default">Criar Necessidade</a>
}
@section C{ }
@section D{ }

@section F{ }
@section G{ }

@section I{ }

