@model OBM_Project.Models.ViewModels.SubTipoServicoViewModel

@{
    ViewData["Title"] = "Adicionar SubTipo Servico";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="AdicionarSubTipoServico" asp-controller="PainelControle">
            <div class="form-group">
                <label for="exampleFormControlSelect1" class="control-label">Tipo Serviço</label>
                <select asp-for="SubTipoServico.TipoServicoId" asp-items="@(new SelectList(Model.TipoServicos, "Id","Nome"))" class="form-control">
                    <option>Selecione</option>
                </select>

            </div>
            <div class="form-group">
                <label for="exampleFormControl" class="control-label">SubTipo</label>
                <input asp-for="SubTipoServico.Nome" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section A{ }
@section B{ }
@section C{ }
@section D{ }

@section F{ }
@section G{ }
@section H{ }

@section I{ }
