@model OBM_Project.Models.Orcamento.TipoServico

@{
    ViewData["Title"] = "Adicionar Tipo Servico";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="AdicionarTipoServico" asp-controller="PainelControle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" id="Ok"/>
            </div>
        </form>
    </div>
</div>

<button type="button" class="btn btn-default" data-toggle="modal" data-target="#Teste">
    Abrir popup
</button>

<div class="modal fade" id="Teste" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Solicitação de orçamento</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-target="#Teste2">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               Tipo de serviço criado com sucesso!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" aria-label="Close" id="Ok">
                    Ok
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#Ok').click(function () {
            $.post('@Url.Action("VincularSubtipo", "Orcamento")'
           
                //   console.log('fim id>0');
            }
        });
    });
</script>

@section A{ }
@section B{ }
@section C{ }
@section D{ }

@section F{ }
@section G{ }

@section I{ }
