@model OBM_Project.Models.Orcamento.Orcamento

@{
    ViewData["Title"] = "Orçamento";
}
<h3>@ViewData["Message"]</h3>

<table style="width:100%">
    <tr>
        <td style="width:300px">
            <div>
                <form asp-action="SolicitarOrcamento">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Tipo de serviço</label>
                        <select class="form-control" id="FormControlSelectArea">
                            <option>Selecione uma opção</option>
                            <option>Backup &amp; Formatação</option>
                            <option>Desenvolvimento</option>
                            <option>Manutenção &amp; Otimização</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Sub tipo</label>
                        <select class="form-control" id="FormControlSelectArea">
                            <option>Selecione uma opção</option>
                            <option>3</option>
                            <option>2</option>
                            <option>1</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Qual a urgência do serviço</label>
                        <select class="form-control" id="FormControlSelectArea">
                            <option>Selecione uma opção</option>
                            <option>Hoje ou nos próximos 7 dias</option>
                            <option>Nos próximos 30 dias</option>
                            <option>Não tenho data definida</option>
                        </select>
                    </div>
                    <div class="form-group" style="height:200px">
                        <label for="FormControlTextarea">Observações</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Escreve seu texto aqui!" style="height:120px; resize:none"></textarea>

                        <br />
                        <input type="submit" value="Enviar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </td>
    </tr>
</table>


@section A{ }
@section B{ }
@section C{ }
@section D{ }

@section F{ }
@section G{ }

@section I{ }
