@model IEnumerable<OBM_Project.Models.Orcamento.TipoServico>


@{
    ViewData["Title"] = "Orçamento";
}
<table style="width:100%">
    <tr>
        <td style="width:300px">
            <div>
                <form asp-action="SolicitarOrcamento">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Tipo Serviço</label>
                        <select class="form-control" id="FormControlSelectTipoServico">
                            <option>selecione</option>
                            @foreach (var item in Model)
                            {
                                <option>@Html.DisplayFor(modelItem => item.Nome)</option>
                            }

                        </select>
                        </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Subtipo</label>
                        <select class="form-control" id="FormControlSelectArea">
                            <option>Selecione uma opção</option>
                            <option>3</option>
                            <option>2</option>
                            <option>1</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Qual a urgência do serviço</label>
                        <select class="form-control" id="FormControlSelectArea">
                            <option>Selecione uma opção</option>
                            <option>Hoje ou nos próximos 7 dias</option>
                            <option>Nos próximos 30 dias</option>
                            <option>Não tenho data definida</option>
                        </select>
                    </div>
                    <div class="form-group" style="height:200px">
                        <label for="FormControlTextarea">Observações</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Escreve seu texto aqui!" style="height:120px; resize:none"></textarea>

                        <br />
                        <input type="submit" value="Enviar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </td>
    </tr>
</table>


@section A{ }
@section B{ }
@section C{ }
@section D{ }

@section F{ }
@section G{ }

@section I{ }
