@model OBM_Project.Models.ViewModels.CadastrarOrcamentoViewModel


@{
    ViewData["Title"] = "Orçamento";
}
<table style="width:100%">
    <tr>
        <td style="width:320px">
            <div>
                <form asp-action="Solicitar" asp-controller="Orcamento">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Tipo Serviço</label>
                        <select id="TipoServicoId" asp-for="Orcamentos.TipoServicoId" asp-items="@(new SelectList(Model.TipoServicos, "Id", "Nome"))" class="form-control">
                            <option>selecione</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Subtipo Serviço</label>
                        <select id="SubTipoServicoId" asp-for="Orcamentos.SubTipoServicoId" asp-items="@(new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "Nome"))" class="form-control">
                        </select>

                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Qual a urgência do serviço</label>
                        <select asp-for="Orcamentos.NecessidadeId" asp-items="@(new SelectList(Model.Necessidades, "Id", "Nome"))" class="form-control">
                            <option>Selecione uma opção</option>
                        </select>
                    </div>
                    <label for="FormControlTextarea">Observações</label>
                    <div class="form-group">
                        <textarea asp-for="Orcamentos.Observacao" placeholder="Escreve seu texto aqui!" style="height:120px; width:400px; resize:none" class="form-control"></textarea>
                        <br /><br />
                        <input type="submit" value="Enviar" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </td>
        <td>
        </td>
        <td style="align-content:flex-end" class="col-md-pull-10">
            <h3>Visualizar</h3>
            <form asp-action="Visualizar" asp-controller="Orcamento" style="width:240px">
                <div class="form-group">
                    <input asp-for="Orcamentos.Id" class="form-control" placeholder="Insira o número do orçamento" />
                    <input type="submit" value="Vizualizar Orçamento" class="btn btn-default" />
                </div>
            </form>
>
            <br />
            <img src="~/images/WhatsApp Image 2020-08-11 at 08.08.13.jpeg" style="width:720px" />
        </td>
    </tr>
</table>

<script type="text/javascript">
    $(document).ready(function () {

        $('#TipoServicoId').change(function () {

            var idTipo = $('#TipoServicoId').val();

            if (idTipo > 0) {
                $('#SubTipoServicoId').empty();
                $.post('@Url.Action("VincularSubtipo", "Orcamento")', { 'idTipo': idTipo }, function (data) {

                        $('#SubTipoServicoId').append('<option value="' + '">' + 'Selecione' + '</option>');
                        for (x in data) {

                            if (data.length > 0) {
                                $('#SubTipoServicoId').append('<option value="' + data[x].id + '">' + data[x].nome + '</option>');
                                console.log('Carregou!');

                            }
                        }
                });
                //   console.log('fim id>0');
            }
        });
    });
</script>

@section A
{
    
}
@section B{ }
@section C
{

}
@section D{ }

@section F{ }
@section G{ }
@section H{ }

@section I{ }
