@{
    ViewData["Title"] = "Sobre";
}
<h3>@ViewData["Message"]</h3>

<p>
    <b>Quem Somos:</b><br />

    Somos uma empresa que nasceu de uma grande paixão por tecnologia. Atuando á mais de três anos no mercado de informática não só em São Bernardo, como em diversas regiões do ABC Paulista.
    Trabalhando com Reconfigurações,  Manutenção, Venda de Acessórios para Computadores e Notebooks com um atendimento de qualidade.
    <br />
    <br />

    <b>Missão:</b><br />

    Proporcionar maior facilidade na utilização de equipamentos e ferramentas gerando resultados na sociedade, buscando desta forma a satisfação de nossos clientes, colaboradores e parceiros.
    <br />
    <br />

    <b>Visão:</b><br />

    Ser uma Empresa que entenda e, principalmente, atenda às necessidades de seus clientes, facilitando e acrescentando seu domínio na área de Informática, para que desta forma, sempre aprimoraren suas técnicas e conhecimentos.
    <br />
    <br />

    <b>Valores:</b><br />

    Relações de confiança e seriedade são valores praticados em nosso dia a dia, pois a satisfação dos nossos clientes e colaboradores é o que nos faz crescer e manter um lugar de destaque em nosso segmento.
    <br />
    <br />

    <br /> Se ainda não é cliente OBM Informática, entre em contato,  via telefone, ou e-mail, e saiba mais sobre nossos produtos e serviços.
</p>

@section A{ }
@section B{ }
@section C{ }
@section D{ }

@section F{ }
@section G{ }

@section I{ }
