@{
    ViewData["Title"] = "Sobre";
}
<h3>@ViewData["Message"]</h3>

<table>
    <tr>
        <td>
            <div  style="text-align:center">
                <img src="~/images/grd-Quem-somos-png.png" style="background:center" width="300" height="300" />
                <br />
                Somos uma empresa que nasceu de uma grande paixão por tecnologia. Atuando á mais de três anos no mercado de informática não só em São Bernardo, como em diversas regiões do ABC Paulista.
                Trabalhando com Reconfigurações,  Manutenção, Venda de Acessórios para Computadores e Notebooks com um atendimento de qualidade.
            </div>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
        </td>

        <td>
            <div  style="text-align:center">
                <img src="~/images/Missao.png" style="background:center" width="300" height="300" />
                <br />
                Proporcionar maior facilidade na utilização de equipamentos e ferramentas gerando resultados na sociedade, buscando desta forma a satisfação de nossos clientes, colaboradores e parceiros.

            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div  style="text-align:center">
                <img src="~/images/img.jpg" style="background:center" width="300" height="300" />
                <br />
                Ser uma Empresa que entenda e principalmente atenda às necessidades de seus clientes, facilitando e acrescentando seu domínio na área de Informática para que desta forma sempre aprimoraren suas técnicas e conhecimentos.

            </div>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>

        </td>
        <td>
            <div  style="text-align:center">
                <img src="~/images/Valores.jpg" style="background:center" width="400" height="300" />
                <br />
                Relações de confiança e seriedade são valores praticados em nosso dia a dia, pois a satisfação dos nossos clientes e colaboradores é o que nos faz crescer e manter um lugar de destaque em nosso segmento.

            </div>
        </td>
    </tr>
</table>
<br />
<br />


@section A{ }
@section B{ }
@section C{ }
@section D{ }

@section F{ }
@section G{ }
@section H{ }
@section I{ }
