@{
    ViewData["Title"] = "Contacto";
}
<h3>@ViewData["Message"]</h3>

<table style="width:100%">
    <tr>
        <td style="width:300px">
           
        </td>
        <td style="width:300px">
            <a asp-action="EnviarWhatsApp" asp-controller="Contato"><input type="image" src="~/images/BotaoWhatsapp.png" width="350" height="150" /></a>
            <a asp-action="EnviarEmail" asp-controller="Contato"> <input type="image" src="~/images/btn-enviar.jpg" width="350" height="150" /></a>
        </td>
    </tr>
</table>

@section A{ }
@section B{ }
@section C{ }
@section D{ }

@section F{ }
@section G{ }

@section I{ }