@{
    ViewData["Title"] = "Home Page";
}
<br />
<p>
    Quem trabalha com <b>TIC</b> sabe que a área está em constante mudança.
    É preciso estar atualizado seja por meio de cursos, workshops, notícia entre outras coisas.
    O melhor dos dias atuais é que na internet você encontra muito conteúdo valioso e de graça.
    Para te ajudar nesse desafio, abaixo você encontra os <b>5 melhores sites de Tech News</b> para você acompanhar e estar sempre por dentro das novidades do setor.
</p>

<br />
<div class="bottom-left">
    <table class="table table-bordered" style="width:100%; background-color:gainsboro">

        <tr>
            <td>
                <table class="table table-bordered" style="width:100%; height:100px">

                    <thead>
                        <tr>
                            <th style="width:50px; text-align:center; background-color:black; color:white; font-size:22px">Site</th>

                            <th style="width:500px; text-align:center; background-color:black; color:white; font-size:22px">Descrição</th>
                        </tr>
                    </thead>

                    <tr>
                        <td align="center"><a style="color:black" href="https://www.techtudo.com.br/"><img src="~/images/logo-techtudo.png" width="150" height="70" /></a><br /></td>
                        <td align="left">
                            Como já está explícito, o site tem tudo a ver com tecnologia, celulares, computadores, tablets, smart tvs e internet. Nele, além de notícias atualizadas do mundo todo sobre os temas, você ainda encontra fóruns, vídeos e materiais para download.Tudo gratuito, seguro e de alta qualidade.
                        </td>
                    </tr>

                    <tr>
                        <td align="center"><a style="color:black" href="https://www.tecmundo.com.br/"><img src="~/images/logo-tec mundo.png" width="150" height="70" /></a><br /></td>
                        <td align="left">
                            Se o mundo dos games é a sua praia e quer ficar por dentro do que está rolando esse site é pra você. Além disso, ele também aborda redes sociais, tecnologias mobile e ainda disponibliza cupons de desconto exclusivos para comprar itens tecnológicos. Com muita informação gratuita, notícias do setor e tutoriais, o TechMundo é bem didático e tem uma seção com séries especiais sobre assuntos que estão em alta, tais como a Black Friday e Transformação Digital.
                        </td>
                    </tr>

                    <tr>
                        <td align="center" valign="middle"><a style="color:black" href="https://www.profissionaisti.com.br/"><img src="~/images/logo-PTI.png" width="150" height="70" /></a><br /></td>
                        <td align="left">
                            Feito especialmente para quem é da área de TI e precisa ficar apar de tudo que está acontecendo no mercado. Seus conteúdos vão desde textos explicativos sobre diversos temas e suas aplicações em projetos até dicas para freelancers e melhores práticas para os profissionais do setor. Além dessas informações, o site ainda tem a preocupação de divulgar concursos na área, vagas de emprego e oferecer cursos com preços acessíveis e certificação.
                        </td>
                    </tr>

                    <tr>
                        <td align="center" valign="middle"><a style="color:black" href="https://olhardigital.com.br/"><img src="~/images/olhar.jpg" width="150" height="100" /></a><br /></td>
                        <td align="left">
                            Como o slogan do site diz, tudo que é novidade ou será lançado é divulgado no portal. Além de notícias ligadas à tecnologia, o site ainda disponibiliza vídeos dos mais variados temas, incluindo tutoriais, e uma ferramenta de busca pelas melhores ofertas e valores para produtos e serviços ligados ao setor. Uma coisa interessante sobre o Olhar Digital é que ele fala realmente de tudo, como redes sociais, games, realidade virtual, computação gráfica, tecnologias mobile e muitas outras vertentes do mercado tecnológico e digital.
                        </td>
                    </tr>

                    <tr>
                        <td align="center" valign="middle"><a style="color:black" href="https://www.infowester.com/"><img src="~/images/infowester.png" width="150" height="70" /></a><br /></td>
                        <td align="left">
                            Esse site já é um pouco mais especializado e voltado para profissionais que já têm um certo nível de conhecimento sobre o mercado. Passando por hardware, software, rede, web design e novidades do setor, o site oferece diversos tutoriais e dicas para quem trabalha na área. Além disso, ele é dividido por áreas de interesse e temas que estão em alta na área de TI e tecnologia, para facilitar você a encontrar o que procura.
                        </td>
                    </tr>

                </table>
            </td>
        </tr>

    </table>
</div>

@section A
{

}
@section B
{
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="7000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/WhatsApp Image 2020-08-11 at 08.08.13.jpeg" class="img-responsive" style="width:100%; height:300px" />
                <div class="carousel-caption" role="option">
                    <p>

                        <a class="btn btn-default" asp-action="About" asp-controller="Home">
                            Saiba mais
                        </a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/anuncie-aqui-.jpg" alt="Visual Studio" class="img-responsive" style="width:100%; height:300px" />
                <div class="carousel-caption" role="option">
                    <p>

                        <a class="btn btn-default" asp-action="Contact" asp-controller="Home">
                            Saiba mais
                        </a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="~/images/Gostou.jpg" alt="Microsoft Azure" class="img-responsive" style="width:100%; height:300px" />
                <div class="carousel-caption" role="option">
                    <p>

                        <a class="btn btn-default" asp-action="Parceiros" asp-controller="Home">
                            Saiba mais
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

}
@section C{ }
@section D{ }

@section F{ }
@section G{ }
@section H{ }
@section I{ }