@{
    ViewData["Title"] = "Parceiros";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div>
        <div class="col-offset-1" style="align-content:center">
            <h4>
                Você pode ser um Parceiro OBM-Informática sendo pessoa física ou jurídica. Ao entrar para nosso time, passando a ter um portifólio maior e com isso, podendo aumentar sua renda.
                Estaremos ao seu lado para desenvolver suas vendas e você cresce junto da OBM. Aceita fazer parte da equipe?
            </h4>
        </div>
    </div>
</div>
@section A{ }
@section B{ }
@section C{ }
@section D{ }

@section F{ }
@section G{ }

@section I{ }
