@{
    ViewData["Title"] = "Parceiros";
}
<div class="row">
    <div class="col-push-10">
        <div class="col-md-12">
            <div class="text-center" style="text-align:justify">
                <table>
                    <tr>
                        <td width="80">

                        </td>
                        <td>
                            <h4 style="text-align:center">
                                Você pode ser um Parceiro OBM-Informática sendo pessoa física ou jurídica.<br />

                                Ao entrar para nosso time, você pode levar o melhor do mercado tecnológico para a sua região, construindo sua base de clientes e trabalhando produtos com excelentes comissões.
                                Já imaginou alcança seus objetivos enquanto ajuda outras pessoas a realizarem seus sonhos?<br /><br />

                                Estaremos ao seu lado para desenvolver suas vendas e você cresce junto da OBM. Aceita fazer parte da equipe?
                            </h4>
                        </td>
                        <td width="80">

                        </td>
                    </tr>
                </table>
                
            </div>
            
        </div>
    </div>
</div>
@section A
{   <a class="btn btn-default" asp-action="Curriculo" asp-controller="Home">
        <img src="~/images/WhatsApp Image 2020-06-30 at 22.59.03.jpeg" style="width:100%" />
    </a>
}
@section B
{   
    <div class="col-lg-12">
        <a class="btn btn-default" asp-action="Curriculo" asp-controller="Home">
            <img src="~/images/WhatsApp Image 2020-06-30 at 22.59.03.jpeg" style="width:100%" />
        </a>
    </div>
}
@section C
{   <a class="btn btn-default" asp-action="Curriculo" asp-controller="Home">
        <img src="~/images/WhatsApp Image 2020-06-30 at 22.59.03.jpeg" style="width:100%"/>
    </a>
}
@section D
{
    <a class="btn btn-default" asp-action="Contato" asp-controller="Home">
        <img src="~/images/seja parceiro.png" style="width:100%"/>
    </a>
}

@section F
{   <a class="btn btn-default" asp-action="Contato" asp-controller="Home">
        <img src="~/images/seja parceiro.png" style="width:100%"/>
    </a>
}
@section G
{   <a class="btn btn-default" asp-action="Curriculo" asp-controller="Home">
        <img src="~/images/WhatsApp Image 2020-06-30 at 22.59.03.jpeg" style="width:100%" />
    </a>
}
@section H
{   <a class="btn btn-default" asp-action="Curriculo" asp-controller="Home">
        <img src="~/images/WhatsApp Image 2020-06-30 at 22.59.03.jpeg" style="width:100%" />
    </a>
}

@section I
{   <a class="btn btn-default" asp-action="Curriculo" asp-controller="Home">
        <img src="~/images/WhatsApp Image 2020-06-30 at 22.59.03.jpeg" style="width:100%" />
    </a>
}
