@{
    ViewData["Title"] = "Parceiros";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-push-10">
        <div class="col-md-12">
            <h4 style="align-content:normal">
                Você pode ser um Parceiro OBM-Informática sendo pessoa física ou jurídica.<br />

                Ao entrar para nosso time, você pode levar o melhor do mercado tecnológico para a sua região, construindo sua base de clientes e trabalhando produtos com excelentes comissões.
                Já imaginou alcança seus objetivos enquanto ajuda outras pessoas a realizarem seus sonhos?<br /><br />

                Estaremos ao seu lado para desenvolver suas vendas e você cresce junto da OBM. Aceita fazer parte da equipe?
            </h4>
        </div>
    </div>
</div>
@section A
{   <a class="btn btn-default" asp-action="Curriculo" asp-controller="Home">
        <img src="~/images/WhatsApp Image 2020-06-30 at 22.59.03.jpeg" style="width:100%; height:400px" />
    </a>
}
@section B
{   <a class="btn btn-default" asp-action="Curriculo" asp-controller="Home">
        <img src="~/images/WhatsApp Image 2020-06-30 at 22.59.03.jpeg" style="width:100%; height:400px" />
    </a>
}
@section C
{   <a class="btn btn-default" asp-action="Curriculo" asp-controller="Home">
        <img src="~/images/WhatsApp Image 2020-06-30 at 22.59.03.jpeg" style="width:100%; height:400px" />
    </a>
}
@section D
{   <a class="btn btn-default" asp-action="Curriculo" asp-controller="Home">
        <img src="~/images/WhatsApp Image 2020-06-30 at 22.59.03.jpeg" style="width:100%; height:400px" />
    </a>
}

@section F
{   <a class="btn btn-default" asp-action="Curriculo" asp-controller="Home">
        <img src="~/images/WhatsApp Image 2020-06-30 at 22.59.03.jpeg" style="width:100%; height:400px" />
    </a>
}
@section G
{   <a class="btn btn-default" asp-action="Curriculo" asp-controller="Home">
        <img src="~/images/WhatsApp Image 2020-06-30 at 22.59.03.jpeg" style="width:100%; height:400px" />
    </a>
}
@section H
{   <a class="btn btn-default" asp-action="Curriculo" asp-controller="Home">
        <img src="~/images/WhatsApp Image 2020-06-30 at 22.59.03.jpeg" style="width:100%; height:400px" />
    </a>
}

@section I
{   <a class="btn btn-default" asp-action="Curriculo" asp-controller="Home">
        <img src="~/images/WhatsApp Image 2020-06-30 at 22.59.03.jpeg" style="width:100%; height:400px" />
    </a>
}
