@{
    ViewData["Title"] = "Serviços";
}

<div class="row">

    <div class="col-md-3" style="width:400px">
        <h2>Backup &amp; Formatação</h2>
        <ul>
            Texto sobre formatação e um link para OrçamentoTexto sobre formatação e um link para OrçamentoTexto sobre formatação e um link para OrçamentoTexto sobre formatação e um link para Orçamento.
        </ul>
    </div>
    <div class="col-md-3" style="width:300px">
        <h2>Desenvolvimento</h2>
        <ul>
            Texto sobre Desenvolvimentos e um link para o portifólio Texto sobre Desenvolvimentos e um link para o portifólioTexto sobre Desenvolvimentos e um link para o portifólio Texto sobre Desenvolvimentos e um link para o portifólio
        </ul>
    </div>
    <div class="col-md-3" style="width:400px">
        <h2>Manutenção &amp; Otimização</h2>
        <ul style="align-content:center">
            Prestamos os serviços de manutenção técnica e suporte técnico para que o funcionamento e desempenho de computadores e notebooks, instalações de softwares, redes wi-fi e internet entre outras coisas.
        </ul>
    </div>

    <div class="bottom-left">
        <table class="table table-bordered" style="width:100%; background-color:gainsboro">
            <tr>
                <td>
                    <table class="table table-bordered" style="width:100%; height:100px">
                        <thead>
                            <tr>
                                <th style="width:80px; text-align:center; background-color:black; color:white; font-size:14px">Tipo</th>
                                <th style="width:80px; text-align:center; background-color:black; color:white; font-size:14px">Descrição</th>
                                <th style="width:80px; text-align:center; background-color:black; color:white; font-size:14px">Tipo</th>
                                <th style="width:80px; text-align:center; background-color:black; color:white; font-size:14px">Tipo</th>
                                <th style="width:80px; text-align:center; background-color:black; color:white; font-size:14px">Descrição</th>
                                <th style="width:80px; text-align:center; background-color:black; color:white; font-size:14px">Descrição</th>
                            </tr>
                        </thead>
                        <tr>
                            <td align="center"></td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                        </tr>
                        <tr>
                            <td align="center"></td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                        </tr>
                        <tr>
                            <td align="center"></td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                        </tr>
                        <tr>
                            <td align="center"></td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                        </tr>
                        <tr>
                            <td align="center"></td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                        </tr>
                        <tr>
                            <td align="center"></td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                        </tr>
                        <tr>
                            <td align="center"></td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                        </tr>
                        <tr>
                            <td align="center"></td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                        </tr>
                        <tr>
                            <td align="center"></td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                        </tr>
                        <tr>
                            <td align="center"></td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                            <td align="left">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td>
                    <table class="table table-bordered" style="width:100%">
                        <tr>
                            <td align="center" style="background-color:red; color:white">
                                Atualiza em 00:05:00
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>
    </div>
</div>
