@{
    ViewData["Title"] = "Serviços";
}

<div class="row">

    <div class="col-md-3" style="width:400px">
        <h2>Backup &amp; Formatação</h2>
        <ul>
            Texto sobre formatação e um link para OrçamentoTexto sobre formatação e um link para OrçamentoTexto sobre formatação e um link para OrçamentoTexto sobre formatação e um link para Orçamento.
        </ul>
    </div>
    <div class="col-md-3" style="width:300px">
        <h2>Desenvolvimento</h2>
        <ul>
            Texto sobre Desenvolvimentos e um link para o portifólio Texto sobre Desenvolvimentos e um link para o portifólioTexto sobre Desenvolvimentos e um link para o portifólio Texto sobre Desenvolvimentos e um link para o portifólio
        </ul>
    </div>
    <div class="col-md-3" style="width:400px">
        <h2>Manutenção &amp; Otimização</h2>
        <ul style="align-content:center">
            Prestamos os serviços de manutenção técnica e suporte técnico para que o funcionamento e desempenho de computadores e notebooks, instalações de softwares, redes wi-fi e internet entre outras coisas.
        </ul>
    </div>

</div>
<div>
    @Html.ActionLink("Solicitar orçamento", "Orcar", "Home", null, new { @class = "btn btn-secondary btn-lg btn-block" })
</div>

@section A{ }
@section B{ }
@section C{ }
@section D{ }

@section F{ }
@section G{ }

@section I{ }
