@{
    ViewData["Title"] = "Serviços";
}

    <div class="col-lg-offset-6">
        <img src="~/images/backup.jpg" style="background:center" width="300" height="300" />
        <br />
        Trabalhar com um computador que oferece rapidez e agilidade é essencial para um bom desempenho. Seja profissionalmente, ou por uso pessoal, todo mundo quer utilizar um computador em ótimo estado. De tempos em tempos é necessário formatá-lo e você não precisa se preocupar com isso, pois estamos aqui para ajuda-lo.
    </div>
<div class="col-md-6">
    <img src="~/images/manutencao-de-computadores-em-esperanca-pb.png" style="background:center" width="300" height="300" />
    <br /><br />
    A manutenção preventiva de computadores é essencial para garantir o bom funcionamento dos mesmos. É preciso estar sempre acompanhando o que precisa ser trocado ou atualizado e não deixar para consertar os computadores apenas quando danificam.

</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="col-lg-offset-6">
    <img src="~/images/desenvolvimento.jpg" style="background:center" width="300" height="300" />
    <br />Desenvolvemos soluções de software sob medida, ajudando nossos clientes a inovar, se diferenciar e crescer.

    Com experiência em diversas tecnologias, construímos aplicações Console, Web e Mobile inseridas em contextos de alta complexidade e necessidades específicas para cada negócio.
</div>
<br />
<br />

<p>
    <a style="width:140px; height:50px" asp-action="CadastrarOrcamento" asp-controller="Orcamento" class="btn btn-warning"><b style="color:black">Orçamento</b></a>
</p>

@section A
{

}

@section B
{

}

@section C
{

}

@section D{ }

@section F{ }
@section G{ }
@section H{ }
@section I{ }
