@{
    ViewData["Title"] = "Serviços";
}

<div class="table-bordered" style="background-color:gainsboro; width:200px; height:40px;">
    @Html.ActionLink("Fazer Orçamento", "Orcar", "Orcamento", null, new { @class = "btn btn-secondary btn-lg btn-block" })
</div>

@section A
{
    <div class="col-md-3" style="width:400px">
        <table class="table table-bordered" style="width:100%; background-color:gainsboro">

            <tr>
                <td>
                    <h2>Backup &amp; Formatação</h2>

                    <h4>BACKUP:</h4>

                    Você imaginou abrir seu computador e perceber que seus dados “não podem mais serem acessados”. Acha difícil acontecer?<br />

                    Infelizmente a perda de dados é muito mais frequente do que parece e ela acontece normalmente quando não estamos preparados.<br />

                    Quando foi a última vez que você fez backup dos seus arquivos?<br />

                    Sabe responder?<br />

                    <h4>FORMATACAO:</h4>
                    Existem dois tipos de formatação, chamados de formatação física e formatação lógica.
                    A formatação física é feita na fábrica ao final do processo de fabricação, que consiste em dividir o disco virgem em trilhas, setores, cilindros e isola os bad blocks(danos no HD).
                    Estas marcações funcionam como as faixas de uma estrada, permitindo a cabeça de leitura saber em que parte do disco está, e onde ela deve gravar dados.
                    A formatação física é feita a penas uma vez, e não pode ser desfeita ou refeita através de software.
                    Porém, para que este disco possa ser reconhecido e utilizado pelo sistema operacional, é necessária uma nova formatação, chamada de formatação lógica.
                    Ao contrário da formatação física, a formatação lógica não altera a estrutura física do disco rígido, e pode ser desfeita e refeita quantas vezes for preciso.
                    O computador, no decorrer de sua utilização, tem seu desempenho geral afetado, em decorrência da instalação e remoção de diversos softwares, inclusive alguns que não removem todos os Arquivo de computador e informações do seu computador, ocasionando lentidão na sua execução.<br />
                </td>
            </tr>

        </table>
    </div>
}

@section B
{
    <div class="col-md-3" style="width:400px">
        <table class="table table-bordered" style="width:100%; background-color:gainsboro">

            <tr>
                <td>
                    <h2>Desenvolvimento</h2>
                    <h4>WEB MIGRATION:</h4> Aplicação Web é a solução com o melhor custo benefício, migramos seu software cliente-servidor para um ambiente web;<br />

                    <h4>SOFTWARE CUSTOMIZADO:</h4> Sistemas customizados para transformar serviços manuais em digitais, melhorar a gestão e aumentar a eficiência;<br />

                    <h4>INTEGRAÇÃO DE SISTEMAS:</h4> Compartilhamento de uma única base de dados. Troca de transações em tempo real.<br />

                    <h4>DESENVOLVIMENTO DE SOFTWARES:</h4>
                    As soluções de sistemas desenvolvidos pela OBM, sejam para ambiente desktop ou web, visam contribuir na melhoria dos processos administrativos do negócio, tornando-os mais ágeis e competitivos, acompanhando com dinamismo as exigências do mercado.
                    Com os softwares de aplicações feitos pela OBM sua empresa terá uma rica variedade de controles para interface com o usuário; um total controle sobre o posicionamento dos controles na aplicação; mais rapidez no desempenho da interface e com integração para hardwares ou outros softwares.<br />
                </td>
            </tr>

        </table>
    </div>
}

@section C
{
    <div class="col-md-3" style="width:400px">
        <table class="table table-bordered" style="width:100%; background-color:gainsboro">

            <tr>
                <td>
                    <h2>Manutenção &amp; Otimização</h2>

                    Prestamos os serviços de manutenção técnica e suporte técnico para que o funcionamento e desempenho de computadores e notebooks, instalações de softwares, redes wi-fi e internet entre outras coisas.
                </td>
            </tr>

        </table>
    </div>
}

@section D{ }

@section F{ }
@section G{ }

@section I{ }
